/** @format */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
}

.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  opacity: 0.6;
  position: fixed;
  width: 50px;
  height: 50px;
  background-image: linear-gradient(45deg, red, blue);
  z-index: 10;
  bottom: 10%;
  left: 90%;
}

.instagram i {
  color: white;
  font-size: 3rem;
}

#navBar {
  width: 100vw;
  position: relative;
  z-index: 1;
  box-shadow: 0px 0px 10px #fff;
  -webkit-box-shadow: 1px 5px 10px rgb(0, 0, 0, 0.4);
}

#navBar .container {
  background-color: white;

  width: 80%;
  height: 15vh;
  padding: 4px 10%;
  transition: 0.5s;
  overflow: hidden;
}

.container .content {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .menu {
  height: 15vh;
}

.logo {
  display: flex;
  align-items: center;

  height: 100%;
}

.logo img {
  height: 100%;
  width: auto;
}

.hamburger {
  cursor: pointer;
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.hamburger i:before {
  font-size: 40px;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  list-style: none;
  letter-spacing: 1px;
}

.menu ul li::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 5px;
}

.menu ul li:nth-child(1)::before {
  content: "\f015";
}

.menu ul li:nth-child(2)::before {
  content: "\f002";
}

.menu ul li:nth-child(3)::before {
  content: "\f2f6";
}

#footer {
  width: auto;
  height: auto;
}

#footer .content {
  width: 100vw;
  height: 40vh;
}

.content .info {
  width: 100%;
  height: 75%;
  background-color: orange;
}

.content .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.8);
}

.content .copyright:before {
  content: "\f1f9";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  padding-right: 5px;
}

#main {
  padding: 50px 0;
  height: auto;
  width: 100vw;
  background: whitesmoke;
}

#slide {
  width: 100vw;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slide .content {
  width: 60%;
  height: 90%;
  border-radius: 5px;
  background-color: gray;
  overflow: hidden;
  position: relative;
}

.content figure {
  width: 300%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  left: 0;
  transition-duration: 2s;
  transition-timing-function: ease-out;
}

.content figure img {
  height: 100%;
  width: 33.33%;
  float: left;
}

.content .img-button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  height: 3%;
  display: flex;
  justify-content: space-between;
}

.img-button div {
  cursor: pointer;
  width: 25%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.4);
  border-radius: 20px;
}

.img-button .active {
  background-color: rgba(128, 128, 128, 0.9);
}

#store {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

#store .daftar {
  width: 60%;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#store .daftar .card {
  position: relative;
  width: 100%;
  height: 30%;
  border: 1px solid gray;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 30px 40px 30px rgb(0, 0, 0, 1);
}

.card .image {
  width: 100%;
  height: 75%;
  cursor: pointer;
}

.card .icon {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 25%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 10px;
}

.card .box-text {
  height: 25%;
}

.box-text .text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: -40%;
  height: 100%;
  width: 60%;
}

.text a {
  text-decoration: none;
  color: black;
}

#mobileLegend .icon {
  background-image: url("./icon_mobile_legend.jpg");
}

#freeFire .icon {
  background-image: url("./GarenaFreeFire.png");
}

#freeFireSantuy .icon {
  background-image: url("./GarenaFreeFire.png");
}

#mobileLegend .image {
  background-image: url("./mobile_legend.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

#freeFire .image {
  background-image: url("./FreeFireCrono.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
#freeFireSantuy .image {
  background-image: url("./freeFireDimitri.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

@media screen and (max-width: 768px) {
  #store .daftar {
    width: 70%;
    height: 130vh;
  }

  .card .icon {
    width: 23%;
  }

  #store .daftar .card {
    height: 30%;
  }

  #slide {
    height: 45vh;
  }

  #slide .content {
    width: 80%;
    height: 90%;
  }

  #container {
    width: 100% !important;
    padding: 4px 3% !important;
  }
}

@media screen and (max-width: 520px) {
  #slide {
    height: 30vh;
  }

  #container {
    padding: 4px 6% !important;
  }

  .card .icon {
    width: 25%;
    height: 50%;
    left: 5%;
  }

  #slide .content {
    width: 90%;
    height: 80%;
  }

  #store .daftar .card {
    width: 100%;
    height: 25%;
  }

  #store .daftar {
    width: 80%;
    height: 120vh;
  }

  .text h3 {
    font-size: 1rem;
  }

  #main {
    padding: 20px 0;
  }

  #navBar .container {
    height: 10vh;
  }

  .container .content {
    height: 10vh;
  }

  .container .menu {
    height: 10vh;
  }

  .menu ul li {
    font-size: 0.8rem;
  }

  .hamburger i:before {
    font-size: 30px;
  }

  .instagram {
    left: 80%;
  }

  .copyright {
    font-size: 0.7rem;
  }

  .info-text {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 320px) {
  #slide {
    height: 30vh;
  }

  .card .icon {
    width: 30%;
    height: 50%;
    left: 5%;
  }

  #slide .content {
    width: 95%;
    height: 80%;
  }

  #store .daftar .card {
    width: 100%;
    height: 25%;
  }

  #store .daftar {
    width: 80%;
    height: 100vh;
  }

  .text h3 {
    font-size: 0.8rem;
  }
}
